[user]
	name = shujimurase
	email = shuji.murase@techouse.jp
	signingkey = /Users/shujimurase/.ssh/id_ed25519.bastion
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[gpg]
	format = ssh
[commit]
	gpgsign = true
